repos:
  - repo: https://github.com/PyCQA/isort
    rev: v5.11.3
    hooks:
    - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: debug-statements

  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear==22.7.1]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
    - id: pyupgrade
      args: [--py36-plus]

  - repo: https://github.com/mgedmin/check-python-versions
    rev: 0.20.0
    hooks:
    - id: check-python-versions

  - repo: https://github.com/mgedmin/check-manifest
    rev: '0.49'
    hooks:
    - id: check-manifest
      args: [--no-build-isolation]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      args:
      - --skip
      - B101
