repos:
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: debug-statements

  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear==21.9.2]

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.0
    hooks:
    - id: pyupgrade
      args: [--py36-plus]

  - repo: https://github.com/mgedmin/check-python-versions
    rev: 0.19.1
    hooks:
    - id: check-python-versions

  - repo: https://github.com/mgedmin/check-manifest
    rev: '0.47'
    hooks:
    - id: check-manifest
      args: [--no-build-isolation]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.1
    hooks:
    - id: bandit
      args:
      - --skip
      - B101
