repos:
  - repo: https://github.com/PyCQA/isort
    rev: 8.0.0
    hooks:
    - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: debug-statements

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear==25.11.29]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: [--py310-plus]

  - repo: https://github.com/mgedmin/check-python-versions
    rev: 0.24.0
    hooks:
    - id: check-python-versions

  - repo: https://github.com/mgedmin/check-manifest
    rev: '0.51'
    hooks:
    - id: check-manifest
      args: [--no-build-isolation]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.3
    hooks:
    - id: bandit
      args:
      - --skip
      - B101
