include LICENSE
include *.py
include *.rst
include *.yaml
include *.toml
include tox.ini
recursive-include tests *.py
# make type checkers aware of type annotations
include src/flask_uploads/py.typed

# include all docs
recursive-include docs *.in
recursive-include docs *.txt
recursive-include docs *.rst
include docs/conf.py
include docs/index.rst
# include examples
recursive-include examples *.html
recursive-include examples *.py
recursive-include examples *.rst
