include LICENSE
include *.py
include *.rst
include *.yaml
include *.toml
include tox.ini
recursive-include tests *.py
# make type checkers aware of type annotations
include src/flask_uploads/py.typed

recursive-include docs *.txt
include docs/Makefile
include docs/conf.py
include docs/index.rst
include docs/make.bat
recursive-include src *.yaml
